#summary{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 60px 0 40px 0;
}

.summary-heading{
  width: 100%;
  max-width: 530px;
  padding: 15px 20px;
}

.summary-heading h4{
  font-size: 20px;
}

.summary-heading strong{
  font-size: 1rem;
  color: var(--blueColor);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.summary-heading h2{
  font-size: 2rem;
  line-height: 2.9rem;
  margin: 20px 0;
}

.summary-details{
  width: 100%;
  max-width: 530px;
  padding: 15px 20px;
}

.summary-details p{
  color: var(--grayColor);
  font-size: 1rem;
  line-height: 30px;
}

@media (max-width: 768px) {
  #summary{
    display: block;
    margin: 0 auto;
  }
}